<!DOCTYPE html>
<html class=" js csstransforms3d"  lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/fragment :: headTag">
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>网站后台管理系统</title>
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/page.css" />
	<!--[if lte IE 8]>
	<link href="css/ie8.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<!--[if IE]>
	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body>
<div class="superWrap clearfix" style="height: 781px;">
	<!--side S-->
	<div class="super-side-menu" th:include="fragments/fragment :: leftBar">
	</div>
	<div class="superContent">
		<div class="super-header super-header2" th:include="fragments/fragment :: head" >
		</div>
		<!--main-->
		<div class="superCtab superCtabBot" style="height: 695px;">
		</div>
		
	</div>
	<!--content E-->
	
</div>
<div th:include="fragments/fragment :: foot"></div>
</body>
</html>